@{
    ViewBag.Title = "Index";
    int questionCounter = 0;
}

    <br />
    <br />
    <b>Dear @Model.FirstName , </b>

    <p>
        <br>
        Thank you for giving us the opportunity to provide assistance.
    </p>

    <p>
        Please help us by taking a few minutes let us know the service experience that you have received so far.
    </p>

    <p>
        Your feedback is highly appreciated and will definitely help the ITSL Service Desk meet your expectations.
    </p>

    <br>

    <b>Ticket Number: @Model.TicketNumber </b><br />
    <b>Description: @Model.Description </b>

    <br><br><br>
    <p><b>Please rate your expectations below where 1 is the lowest and 10 is the highest.</b></p><br>


<form method="post" action="~/AnsweredSurvey/Create">
    <input type="hidden" name="answeredSurvey.SurveyId" value=@Model.SurveyId>
    <input type="hidden" name="answeredSurvey.Description" value=@Model.Description>
    <input type="hidden" name="answeredSurvey.FirstName" value=@Model.FirstName>
    <input type="hidden" name="answeredSurvey.MiddleName" value=@Model.MiddleName>
    <input type="hidden" name="answeredSurvey.LastName" value=@Model.LastName>
    <input type="hidden" name="answeredSurvey.TicketNumber" value=@Model.TicketNumber>

        <table class="table table-hover table-sm table-bordered ">
            <thead>
                <tr class="active">
                    <th><div align="center">Question No.</div></th>
                    <th><div align="center">Question</div></th>
                    <th><div align="center">Rate 1-10</div></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var question in Model.Survey.Questions)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="answeredSurvey.AnsweredQuestions[@questionCounter].QuestionId" value="@question.QuestionId" />
                            <label> @question.QuestionId </label>
                        </td>
                        <td>
                            <label> @question.Description </label>
                        </td>
                        <td>
                            <input type="number" name="answeredSurvey.AnsweredQuestions[@questionCounter].Answer" value="1" min="1" max="10" />

                        </td>
                    </tr>
                    questionCounter += 1;
                }
            </tbody>
        </table>

    <input type="submit" class="btn btn-success" />
</form>
