<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @*@RenderSection("head", required: false)*@

    @Html.Partial("_PartialCSS")
    
    <style>
        .navbar {
            border-bottom-color: #0026ff;
            border-width: 0 1px 4px 1px;
            background-color: white;
        }

        }

        li a:hover, .navbar-brand:hover {
            color: #2b358a !important;
            font-weight: bold;
        }

        .navDiv {
            height: 100px;
            table, td, th;

        {
            border: 1px solid #ddd;
            padding-right: 100px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 100px;
        }
    </style>
</head>
<body>
    @*<script>
            var ApplicationName = '';
        </script>*@
    <nav class="navbar navbar-default navbar-fixed-top navDiv">
        <align class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <align class="navbar-collapse collapse navbar-fixed-top">

                @*<align class="right-sidebar-top">
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img src="~/Content/Images/a.png" height="60" />

                </align>*@

                <table align="left">
                    <tr>
                        <th>
                            <img src="~/Content/Images/ITSLanderson.png" height="80" />
                        </th>

                    </tr>
                </table>

                <table align="right">
                    <tr>
                        <th>
                            <img src="~/Content/Images/ITSL logo-v2.jpg" height="95" />

                        </th>

                    </tr>
                </table>


                <div align="center"> 
                    <br />
                    <img src="~/Content/Images/a.png" height="60" />
                    </div>

                


    </nav>
   


    <br /> <br />
    @*<nav class="navbar fixed-top navbar-toggleable-md">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/Home"><img src="~/Content/Images/Anderson.Assembly.png" width="450" height="50" /></a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="~/Visitor">Visitor</a>

                        </div>
                    </div>
        </nav>*@
    <div id="MainContainer" class="body-content" ng-app="App">
        @Html.Partial("_PartialScript")
        @RenderBody()
    </div>

    @*<div class="container body-content">*@
        <hr />
        @*<footer>
            <div align="left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application | Developers | Stephanie Vilanueva | Sophia Lorraine Tesalona</p>
            </div>
        </footer>*@
  
     
    @*</div>*@

</body>
</html>

@*<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/angular/angular.min.js"></script>
<script src="~/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="~/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
@RenderSection("scripts", false)*@